<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center ">
        <h1 class="mx-auto my-0">Log In</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Less time deciding...more time eating.</h2>
        <form class="login">
            <div class="form-group form-inline d-flex"> 
                <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="email-input" placeholder="Email">
            </div>
            <div class="form-group form-inline d-flex">
                <input type="password" class="form-control form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="password-input" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mx-auto">Login</button>
        </form>
        <br />
        <p>Or sign up <a href="/">here</a></p>
    </div>
</div>

<script type="text/javascript" src="/js/login.js"></script>