<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Hello,</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"> <span class="member-name"></span></h2>
        <form class="search-form">
            <div class="form-inline d-flex form-group">
                <select class="custom-select mr-0 mr-sm-2 mb-3 mb-sm-0" id="search-category-input">
                </select>
              </div>
            <div class="form-inline d-flex form-group">
                <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="search-city-input" type="text" placeholder="Location">
            </div>
            <button class="btn btn-primary mx-auto" type="submit">Search</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/members.js"></script>