    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0">Register</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Less time deciding...more time eating.</h2>
            <form class="signup">
                <div class="form-inline d-flex form-group">
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="email-input" type="email"
                        placeholder="Email">
                </div>
                <div class="form-inline d-flex form-group">
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="password-input"
                        type="password" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>

                <button class="btn btn-primary mx-auto" type="submit">Register</button>
                </form>
        </div>
        
    </div>

<script type="text/javascript" src="/js/signup.js"></script>